<template>
    <div id="login">
        <input v-model="userName" @keydown.enter="login" placeholder="请选择用户名"/>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                userName: ''
            }
        },
        methods: {
            login() {
                if (this.userName) {
                    if (this.userName.length > 10 || this.userName.length === 0) { // 限制用户名最长10
                        this.userName = '';
                        return;
                    }
                    this.$api.login({
                        user_name: this.userName,
                    }).then(() => {
                        sessionStorage.setItem('auth', this.userName);
                        this.$router.push('/');
                    }).catch(()=>{})
                }
            }
        }
    };
</script>

<style lang="less" scoped>
    #login {
        width: 480px;
        height: 320px;
        border-style: solid;
        border-width: 5px;
        border-color: coral;
        margin: 10% auto;
        border-radius: 16px;
        background: url("../assets/login-background.jpg");

        input {
            width: 10rem;
            height: 3rem;
            border-radius: 1rem;
            text-align: center;
            margin: 25% auto;
        }
    }
</style>
